<!-- 
  파일명 : Dashboard-3.html
  설 명 : 대쉬보드 3번
	최초 생성일 : 

	수정일			수정내역 
	---------		-----------------------------------------------------------------
	
-->
<!-- <script src="/asserts/js/Dashboard/Dashboard-3.js" defer></script> -->

<h1 style="text-shadow: 1px 1px 4px;">Time Series Sensor Data Forecasting UI</h1>

<div class="type-01">

	<!-- 데이터 준비 -->
	<div class="box box1">
		<div class="title ">데이터 준비</div>
		<div class="sub-title">센서 데이터 현황</div>
		<canvas class="canvas canvas1"></canvas>
		<div class="sub-title">센서 데이터 선택</div>
		<canvas class="canvas canvas1"></canvas>
		<div class="sub-title">데이터 탐험</div>
		<canvas class="canvas canvas1"></canvas>
		<div class="sub-title" style="word-spacing: -3px;">데이터<br />로딩 & 프리뷰</div>
		<canvas class="canvas canvas1"></canvas>
		<div class="sub-title">상관관계<br />시각화</div>
		<canvas class="canvas canvas1"></canvas>
		<div class="sub-title">데이터<br />전처리</div>
	</div>
	<!--// 데이터 준비 -->

	<!-- 시계열 준비 -->
	<div class="box box2">
		<div class="title">시계열 준비</div>
		<div class="sub-title">시계열<br />데이터 분해</div>
		<canvas class="canvas canvas2"></canvas>
		<div class="sub-title" style="word-spacing: -2px;">시계열 정상성<br /> 검사 및 변환</div>
	</div>
	<!--// 시계열 준비  -->

	<!-- 시계열 예측 -->
	<div class="box box3">
		<div class="title">시계열 예측</div>
		<div class="sub-title">단변수 예측</div>
		<canvas class="canvas canvas3"></canvas>
		<div class="sub-title">다변수 예측</div>
	</div>
	<!--// 시계열 예측  -->

	<!-- 성능 분석 -->
	<div class="box box4">
		<div class="title">성능 분석</div>
		<div class="sub-title">시계열<br />예측 분석<br />수치 메트릭</div>
		<canvas class="canvas canvas4"></canvas>
		<div class="sub-title">시계열<br />예측 분석<br />차트</div>
	</div>
	<!--// 성능 분석  -->

</div>

<!-- 
	<div class="type-02">
		<ol>
			<li>
				<p class="dash-title">센서 데이터 현황</p>
				<p class="dash-description">센서 데이터 현황에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">센서 데이터 선택</p>
				<p class="dash-description">센서 데이터 선택에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">시계열 데이터 탐험</p>
				<p class="dash-description">Pandas Profiler</p>
			</li>
			<li>
				<p class="dash-title">시계열 데이터 탐험</p>
				<p class="dash-description">Sweetviz</p>
			</li>
			<li>
				<p class="dash-title">센서 데이터 로딩 & 프리뷰</p>
				<p class="dash-description">센서 데이터 로딩 & 프리뷰에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">결측치 시각화 및 처리</p>
				<p class="dash-description">결측치 시각화 및 처리에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">이상치 시각화 및 처리</p>
				<p class="dash-description">이상치 시각화 및 처리에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">리셈플링 및 정규화</p>
				<p class="dash-description">시계열 데이터 분해</p>
			</li>
			<li>
				<p class="dash-title">시계열 정상성 검사 및 변환</p>
				<p class="dash-description">시계열 정상성 검사 및 변환에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">시계열 예측 with 단일 변수</p>
				<p class="dash-description">시계열 예측 with 단일 변수에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">시계열 예측 with 다중 변수</p>
				<p class="dash-description">시계열 예측 with 다중 변수에 대해 설명합니다.</p>
			</li>
			<li>
				<p class="dash-title">시계열 예측 결과 분석</p>
				<p class="dash-description">시계열 예측 결과 분석에 대해 설명합니다.</p>
			</li>
		</ol>
	</div> 
-->