<!-- 
  파일명 : Dashboard-2.html
  설 명 : 대쉬보드 2번
	최초 생성일 : 

	수정일			수정내역 
	---------		-----------------------------------------------------------------
	
-->
<h1>Dashboard-02</h1>
<p></p>
<div id="dash02">

  <!--.cards -->
  <div class="cards">
    <!-- 데이터 준비 .card -->
    <div class="card">
      <div class="card-header">
        <h3>데이터 준비</h3>
      </div>
      <div class="card-body">
        <div class="menu">
          <div class="info">
            <span class="order">1</span>
            <div>
              <h4>센서 데이터 현황</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">2</span>
            <div>
              <h4>센서 데이터 선택</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">3</span>
            <div>
              <h4>시계열 데이터 탐험</h4>
              <small>Pandas Profiler</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">4</span>
            <div>
              <h4>시계열 데이터 탐험</h4>
              <small>Sweetviz</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">5</span>
            <div>
              <h4>센서 데이터 로딩 & 프리뷰</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">6</span>
            <div>
              <h4>센서 데이터 상관관계 그래프</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">7</span>
            <div>
              <h4>결측치 시각화 및 처리</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">8</span>
            <div>
              <h4>이상치 시각화 및 처리</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">9</span>
            <div>
              <h4>리셈플링 및 정규화</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
      </div>
    </div>
    <!--// 데이터 준비 .ccard -->
    <!-- 시계열 준비 .card -->
    <div class="card">
      <div class="card-header">
        <h3>시계열 준비</h3>
      </div>
      <div class="card-body">
        <div class="menu">
          <div class="info">
            <span class="order">10</span>
            <div>
              <h4>시계열 데이터 분해</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">11</span>
            <div>
              <h4>시계열 정상성 검사 및 변환</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
      </div>
    </div>
    <!--// 시계열 준비 .card -->
    <!--시계열 예측 card -->
    <div class="card">
      <div class="card-header">
        <h3>시계열 예측</h3>
      </div>
      <div class="card-body">
        <div class="menu">
          <div class="info">
            <span class="order">12</span>
            <div>
              <h4>시계열 예측 with 단일변수</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
        <div class="menu">
          <div class="info">
            <span class="order">13</span>
            <div>
              <h4>시계열 예측 with 다중변수</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
      </div>
    </div>
    <!--// 시계열 예측 .card  -->
    <!-- 성능 분석 .card -->
    <div class="card">
      <div class="card-header">
        <h3>성능 분석</h3>
      </div>
      <div class="card-body">
        <div class="menu">
          <div class="info">
            <span class="order">14</span>
            <div>
              <h4>시계열 예측 결과 분석</h4>
              <small></small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-comment"></span>
            <span class="las la-car-side"></span>
          </div>
        </div>
      </div>
    </div>
    <!--// 성능 분석 .card -->
  </div>
  <!--// .cards -->

</div>