
<!--    
  파일명 : dashboard-6.html
  설 명 : 대쉬보드 5번
	최초 생성일 : 
    
	수정일			수정내역 
	---------		-----------------------------------------------------------------
	
-->
<!-- <script src="/asserts/js/Dashboard/dashboard-6.js" defer></script> -->

<table>
  <hr style="border: 10px solid black; width: 108%; position: relative; top: -100px; left: -100px;">

  <!-- .cards.first -->
  <tr class="cards first">
    <td class="card one">
      <div class="item">
        <div class="no subject">데이터 준비</div>
      </div>
    </td>
    <td class="card two">
      <div class="item">
        <div class="title">센서 데이터 현황</div>
        <div class="no">1</div>
      </div>
    </td>
    <td class="card three">
      <div class="item">
        <div class="title">센서 데이터 선택</div>
        <div class="no">2</div>
      </div>
    </td>
    <td class="card four">
      <div class="item">
        <div class="title">데이터 탐험</div>
        <div class="no">3</div>
        <div class="desc">
          <a href="">Pandas Profiler</a>
          <a href="">Sweetviz</a>
        </div>
      </div>
    </td>
    <td class="card five">
      <div class="item">
        <div class="title">데이터 로딩&프리뷰</div>
        <div class="no">4</div>
      </div>
    </td>
    <td class="card six">
      <div class="item">
        <div class="title">상관관계 시각화</div>
        <div class="no">5</div>
      </div>
    </td>
    <td class="card seven">
      <div class="item">
        <div class="title">데이터 전처리</div>
        <div class="no">6</div>
      </div>
    </td>
  </tr>
  <!--// .cards.first -->

  <!-- .cards.second -->
  <tr class="cards second">
    <td class="card one">
      <div class="item">
        <div class="no subject">시계열 준비</div>
      </div>
    </td>
    <td class="card two">
      <div class="item">
        <div class="title">시계열<br>데이터 분해</div>
        <div class="no">7</div>
        <div class="desc">
          <a href="">레벨</a>
          <a href="">트렌드</a>
          <a href="">계절성</a>
          <a href="">잡음</a>
        </div>
      </div>
    </td>
    <td class="card three">
      <div class="item">
        <div class="title">시계열 정상성<br>검사 및 변환</div>
        <div class="no">8</div>
        <div class="desc one">
          <div class="subTitle">정상성 검사</div>
          <div class="subDesc">
            <a href="" style="font-size: 7px;">Augmented Dicker-Fuller test</a>
            <a href="">Auto Correlation</a>
            <a href="">Partial Auto Correlation</a>
          </div>
        </div>
        <div class="desc two">
          <div class="subTitle">변환</div>
          <div class="subDesc">
            <a href="">Difference</a>
            <a href="">Log Scale</a>
            <a href="">Smoothing</a>
          </div>
        </div>
      </div>
    </td>
    <td class="card four" colspan="4">
      <div class="item" style="width: 100%;">

        <!-- 1 -->
        <div class="title"></div>
        <div class="no subject">시계열 예측</div>

        <!-- 2 -->
        <div class="title">단변수 예측</div>
        <div class="no">9</div>

        <!-- 3 -->
        <div>
          <a href="" style="font-size: 15px;">Navie Mean<br>(Yesterday, Value)</a>
          <a href="">SES</a>
          <a href="">HWES</a>
          <a href="">AR</a>
          <a href="">MA</a>
          <a href="">ARMA</a>
          <a href="">ARIMA</a>
          <a href="">Auto ARIMA</a>
          <a href="">Seasonal ARIMA</a>
          <a href="">Auto SARIMA</a>
          <a href="">Prophet</a>
        </div>

        <!-- 4 -->
        <div class="title">다변수 예측</div>
        <div class="no">10</div>

        <!-- 5 -->
        <div>Linear Models</div>
        <div>
          <a href="">Baysian Regression</a>
          <a href="">Lasso</a>
        </div>

        <!-- 6 -->
        <div>Tree Model</div>
        <div>
          <a href="">Random Forest</a>
          <a href="">Support Vector Machines</a>
          <a href="">XGBoost</a>
          <a href="">Nearest neighbors</a>
          <a href="">Lightgbm</a>
          <a href="">Prophet multivariate</a>
        </div>

        <!-- 7 -->
        <div>Deep Learning</div>
        <div>
          <a href="">Tensorflow LSTM</a>
          <a href="">DeepAR</a>
        </div>

        <!-- 8 -->
        <div>Hyperparameter Optimization</div>
        <div>
          <a href="">Grid Search</a>
          <a href="">SVM</a>
          <a href="">Baysian Process</a>
          <a href="">XGBoost</a>
        </div>
      </div>
    </td>
  </tr>
  <!--// .cards.second -->

  <!-- .cards.third -->
  <tr class="cards third">
    <td class="card one">
      <div class="item"></div>
    </td>
    <td class="card two">
      <div class="item"></div>
    </td>
    <td class="card three">
      <div class="item"></div>
    </td>
    <td class="card four">
      <div class="item"></div>
    </td>
    <td class="card five">
      <div class="item"></div>
    </td>
    <td class="card six">
      <div class="item"></div>
    </td>
    <td class="card seven">
      <div class="item"></div>
    </td>
  </tr>
  <!--// .cards.third -->

  <!-- .cards.fourth -->
  <tr class="cards fourth">
    <td class="card one">
      <div class="item">
        <div class="title"></div>
        <div class="no subject">성능<br>분석</div>

        <div class="title">수치메트릭</div>
        <div class="no">11</div>

        <div class="title">차트</div>
        <div class="no">12</div>

        <div>수치 메트릭</div>

        <div>차트</div>
      </div>
    </td>   
    <td class="card two">
      <div class="item">

      </div>
    </td>
    <td class="card three">
      <div class="item"></div>
    </td>
    <td class="card four">
      <div class="item"></div>
    </td>
    <td class="card five">
      <div class="item"></div>
    </td>
    <td class="card six">
      <div class="item"></div>
    </td>
    <td class="card seven">
      <div class="item">
        <div class="title"></div>
        <div class=""></div>
      </div>
    </td>
  </tr>
  <!--// .cards.fourth -->

</table>