<!-- 
  파일명 : Dashboard-1.html
  설 명 : 대쉬보드 1번
	최초 생성일 : 

	수정일			수정내역 
	---------		-----------------------------------------------------------------
	
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Dashboard-1</h1>
  <p></p>
  <!-- cards -->
  <div class="cards">
    <!-- card -->
    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>1</h1>
              <div class="to-right-underline">센서 데이터 현황</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>2</h1>
              <div>센서 데이터 선택</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>3</h1>
              <div>시계열 데이터 탐험<br />Pandas Profiler</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>4</h1>
              <div>시계열 데이터 탐험<br />Sweetviz</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>5</h1>
              <div>센서 데이터 로딩 & 프리뷰</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>6</h1>
              <div>센서 데이터 상관관계 그래프</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>7</h1>
              <div>결측치 시각화 및 처리</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>8</h1>
              <div>이상치 시각화 및 처리</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>9</h1>
              <div>리셈플링 및 정규화</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>10</h1>
              <div>시계열 데이터 분해</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>11</h1>
              <div>시계열 정상성 검사 및 변환</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>12</h1>
              <div>시계열 예측 with 단일 변수</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>13</h1>
              <div>시계열 예측 with 다중 변수</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>

    <div class="card">
      <div class="svg-wrapper" width="100%">
        <svg height="100px" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
          <div class="item">
            <div class="text">
              <h1>14</h1>
              <div>시계열 예측 결과 분석</div>
            </div>
            <div class="font">
              <span class="las la-check-circle"></span>
            </div>
          </div>
        </svg>
      </div>
    </div>
    <!--// cards -->

  </div>
  <!--// cards -->
</body>

</html>