<script src="/src/main/webapp/assert/js/ScreenLayout/Header.js" defer></script>

<!-- menubar -->
<div class="title-wrapper">
  <label for="nav-toggle">
    <span class="las la-eye"></span>
  </label>
  <input type="text" class="title" value="Time Series Sensor Data Forecasting UI"></input>
</div>
<!--// menubar -->

<!-- searchbar -->
<!-- <div class="search-wrapper">
  <span class="las la-search"></span>
  <input type="search" placeholder="Search here" />
</div> -->
<!--// searchbar -->

<!-- imgbar -->
<div class="user-wrapper">

  <div id="search-btn" class="las la-search"></div>
  <div id="login-btn" class="las la-user-circle"></div>

  <form class="find-wrapper">
    <input type="search" placeholder="search here" id="search-box">
    <label for="search-box" class="las la-search"></label>
  </form>

  <form class="login-wrapper">
    <h3>ALIAN 로그인</h3>
    <div class="box">
      <label>ID</label>
      <input type="text" placeholder="아이디를 입력해 주세요." />
    </div>
    <div class="box">
      <label>PW</label>
      <input type="password" placeholder="비밀번호를 입력해 주세요." />
    </div>
    <div class="box">
      <input type="submit" value="Enter" class="btn">
    </div>
  </form>

</div>
<!--// imgbar -->