/**
 * 파일명 : Header.css
 * 설 명 : 헤더
 * 최초 생성일 : 
 *
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-background);
  color:rgb(27, 165, 165);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;  
}

header .title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .title-wrapper:hover,
.title-wrapper:hover > input {
  color:rgb(27, 165, 165);
}

.title-wrapper label span {
  font-size: 2.5rem;
  padding-right: 1rem;
  font-weight: 400;
}

.title-wrapper > input {
  width: 360px;
  font-size: 20px;
  font-weight: 400;
  color:rgb(27, 165, 165);
  background: none;
  border: none;
  outline: none;
}

header .search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
}

header .search-wrapper span {
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

header .search-wrapper input {
  padding: .5rem;
  border: none;
  /* outline을 none으로 설정하지 않으면, text 입력시 테두리가 나타난다. */
  outline: none;
  background: rgb(34, 36, 41);
  color: #ccc;
}

header {
  z-index: 1000;

  .user-wrapper {
    font-size: 2.2rem;
    color: var(--color-grey);
    
    > div {
      margin-left: .5rem;
      transition: 300ms ease;

      &:hover {
        transform: scale(1.3);
        color: rgb(27, 165, 165);
      }
    }

    .find-wrapper {
      position: absolute;
      top: -100%;
      right: 4rem;
      width: 20rem;
      height: 50px;
      background: var(--color-white);
      border-radius: 30px;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);            
      display: flex;
      align-items: center;
      overflow-x: hidden;     
      
      &.active {
        top: 103%;
        transition: .2s linear;
      }

      input {
        height: 100%;
        width: 100%;
        padding: 0 0 0 1.5rem;
        border: none;
        outline: none;
        font-size: 1rem;
      }

      label {
        font-size: 2rem;
        margin-right: 1rem;
        cursor: pointer;
        color: var(--color-black);

        &:hover {
          color: rgb(27, 165, 165);
          font-weight: bolder;
        }      
      }   

    } // end of .find-wrapper

    .login-wrapper {
      position: absolute;
      top: 115%; 
      right: -105%;
      background: var(--color-black);
      border-radius: 30px;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); 
      width: 25rem;
      padding: 2rem;
  
      &.active {
        right: 2rem;
        transition: 350ms linear;
      }
  
      h3 {
        color: rgb(27, 165, 165);
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
      }       
  
      .box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        label {
          font-size: 1.5rem;
        }

        input { 
          width: 270px;
          height: 35px;
          border-radius: 30px;
          border: none;
          outline: none;
          padding: 0 1rem;
        }   
        
        &:nth-child(4) {
          margin-top: 50px;
          display: flex;
          justify-content: center;
          width: 100%;
          
          input {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            font-size: 1.5rem;
            border: none;
            outline: none;
            background: var(--color-dark-grey);
            color: white;

            &:hover {
              background: rgb(27, 165, 165);
              transition: .2s ease-in;
              font-weight: bolder;
            }
          }
        }  
      }
      
    } // end of login-wrapper

  } // end of .user-wrapper

} // end of header
