@charset "UTF-8";
/**
 * 파일명 : style.css
 * 설 명 : 공통 CSS
 * 최초 생성일 : 
 *
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */
/* 사이드바 */
@import url("/src/main/webapp/assert/css/ScreenLayout/Navigation.css");
/* 헤더 */
@import url("/src/main/webapp/assert/css/ScreenLayout/Header.css");
/* 대쉬보드 */
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-1.css");
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-2.css");
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-3.css");
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-4.css");
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-5.css");
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-6.css");
@import url("/src/main/webapp/assert/css/Dashboard/Dashboard-7.css");
/* 센서 데이터 현황 */
@import url("/src/main/webapp/assert/css/DataPreparation/DataStatus.css");
/* 센서 데이터 선택 */
@import url("/src/main/webapp/assert/css/DataPreparation/DataSelect.css");
/* 시계열 데이터 탐험 - Pandas Profiler */
@import url("/src/main/webapp/assert/css/DataPreparation/ExplorePandasProfiler.css");
/* 시계열 데이터 탐험 - Sweetviz */
@import url("/src/main/webapp/assert/css/DataPreparation/ExploreSweetviz.css");
/* 센서 데이터 로딩 & 프리뷰 */
@import url("/src/main/webapp/assert/css/DataPreparation/LoadingPreview.css");
/* 센서 데이터 상관관계 그래프 */
@import url("/src/main/webapp/assert/css/DataPreparation/CorrelateGraph.css");
/* 결측치 시각화 및 처리 */
@import url("/src/main/webapp/assert/css/DataPreparation/VisualProcessMissValue.css");
/* 이상치 시각화 및 처리 */
@import url("/src/main/webapp/assert/css/DataPreparation/VisualProcessOutValue.css");
/* 리셈플링 및 정규화 */
@import url("/src/main/webapp/assert/css/DataPreparation/ResampleNormalize.css");
/* 시계열 데이터 분해 */
@import url("/src/main/webapp/assert/css/TimeSeriesPreparation/Decompose.css");
/* 시계열 정상성 검사 및 변환 */
@import url("/src/main/webapp/assert/css/TimeSeriesPreparation/SanityCheckTransform.css");
/* 시계열 예측 with 단일 변수 */
@import url("/src/main/webapp/assert/css/TimeSeriesForecasting/PredictSingleVariable.css");
/* 시계열 예측 with 다중 변수 */
@import url("/src/main/webapp/assert/css/TimeSeriesForecasting/PredictMultiVariable.css");
/* 시계열 결과 분석 */
@import url("/src/main/webapp/assert/css/PerformanceAnalysis/PredictResultAnalysis.css");
/*======================================================================================================

                                            Import - Font

======================================================================================================*/
/* line-awesome */
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;300;400;500;600;700&display=swap");
/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*======================================================================================================

                                            Global

======================================================================================================*/
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #222;
  --color-dark: #1D2231;
  --color-text: rgb(224, 228, 228);
  --color-background: rgb(34, 36, 41);
  --color-wine: rgb(189, 0, 255);
  --color-purple: rgb(126, 0, 255);
  --color-green: rgb(0, 168, 45);
  --color-turquoise: #41C7C7;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-smoke-white: whitesmoke;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-grey: #8390A2;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-gunmetal: #C6D6F7;
  --color-blue: #73aace;
  --color-skyblue: rgb(0, 186, 255);
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  /* Font size */
  --font-large: 38px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 14px;
  --font-micro: 8px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 500;
  --weight-semi-regular: 400;
  --weight-thin: 300;
  /* Size */
  --size-border-radius: 4px;
  /* Animation */
  --animation-duration: 300ms;
  --hue: 1;
  --unit: 1rem;
  --height: 7rem;
}

/*======================================================================================================

                                        Universal tags

======================================================================================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* 한글 */
  font-family: 'Poppins', sans-serif;
  /* 영문 */
  /* font-family: 'IBM Plex Sans KR', sans-serif; */
}

/*======================================================================================================

                                        Typography

======================================================================================================*/
section > h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: .5rem 0;
}

section > h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

section > h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 1.5rem 0;
}

section > p {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-regular);
  color: var(--color-black);
  margin: 2rem 0;
}

/*======================================================================================================

                                        네비게이션 버튼

======================================================================================================*/
#nav-toggle {
  display: none;
}

/*======================================================================================================

                                        .main-content

======================================================================================================*/
.main-content {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin-left: 78px;
}

/*=============== main ===============*/
main {
  overflow-y: scroll;
  height: calc(100vh - 85px);
  /* margin-top: 85px; */
  margin-top: 82px;
  background: var(--color-background);
  color: var(--color-text);
}

/*======================================================================================================

                                        section

======================================================================================================*/
section {
  width: 100%;
  min-height: calc(100vh - 85px);
  padding: 2rem 1.5rem;
  margin: 1rem 0;
  border-bottom: 1px dashed white;
}

section > h1,
h2,
p {
  text-align: center;
  color: #1ba5a5;
}

section > p.left {
  padding: 0 10rem;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

/*======================================================================================================

                                        @media

======================================================================================================*/
@media only screen and (max-width: 1700px) {
  #dashboard-03 .title {
    width: 6em;
    margin-right: 2rem;
    font-size: 1rem;
  }
  #dashboard-03 .sub-title {
    border-radius: 50%;
  }
  /* #dashboard-03 .title, */
  #dashboard-03 .sub-title {
    width: 70px;
    height: 70px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }
  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: .7rem;
    text-align: center;
  }
  .sidebar-menu a span:first-child {
    display: inline;
  }
  .sidebar-menu a span:nth-child(even) {
    display: none;
  }
  .sidebar li a {
    padding-left: 0rem;
  }
  .sidebar .sidebar-brand span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }
  .main-content {
    margin-left: 70px;
  }
  .main-content header {
    width: calc(100% - 70px);
  }
  #nav-toggle:checked + .sidebar {
    left: 0;
    width: 345px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child,
  #nav-toggle:checked + .sidebar .sidebar-menu a span:first-child {
    display: inline;
  }
  #nav-toggle:checked + .sidebar .sidebar-menu a span:nth-child(even) {
    display: none;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 345px;
  }
  #nav-toggle:checked ~ .main-content header {
    width: 100%;
  }
  /* #nav-toggle:checked ~ .main-content #dash01 .cards */
  #nav-toggle:checked ~ .main-content .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #nav-toggle:checked ~ .main-content #dash02 .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 960px) {
  /* Typograph */
  section > h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: .5rem 0;
  }
  section > h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
  }
  section > h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 1.5rem 0;
  }
  section > p {
    font-size: var(--font-small);
    font-weight: var(--weight-semi-regular);
    color: var(--color-black);
    margin: 2rem 0;
  }
  #dashboard .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #dashboard-03 .type-01 {
    display: none;
  }
  #dashboard-03 .type-02 {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  /* Typograph */
  section > h1 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: .5rem 0;
  }
  section > h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
  }
  section > h3 {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 1.5rem 0;
  }
  section > p {
    font-size: var(--font-thin);
    font-weight: var(--weight-semi-regular);
    color: var(--color-black);
    margin: 2rem 0;
  }
  section > p {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 2rem 0;
  }
  /* #dash01  */
  #dashboard .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #dash02 .cards {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100%;
  }
  header h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.1rem;
  }
  header h2 label {
    display: inline-block;
    background: var(--color-text);
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h2 span {
    padding-right: 0rem;
  }
  .main-content {
    margin-left: 0rem;
  }
  .main-content header {
    width: 100%;
  }
  #nav-toggle:checked ~ .main-content #dash01 .cards {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 560px) {
  #dash01 .cards {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .sidebar .sidebar-brand {
    background: var(--color-white);
  }
  #nav-toggle:checked + .sidebar {
    width: 100%;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand {
    /* background: var(--color-white); */
    background: transparent;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem;
  }
}

/*======================================================================================================

                                        @media - Dashboard

======================================================================================================*/
@media (min-width: 550px) and (max-width: 899px) {
  #dashboard-03 li {
    margin: 1rem;
    width: calc(50% - 4rem);
    float: left;
    min-height: var(--height);
  }
  #dashboard-03 li:nth-child(4n+3),
  #dashboard-03 li:nth-child(4n+4) {
    float: right;
  }
  #dashboard-03 li:nth-child(4n+1)::before {
    top: calc(var(--height)/2 + var(--unit)/2);
    left: 100%;
  }
  #dashboard-03 li:nth-child(4n+1)::after {
    top: calc(var(--height)/2);
    left: calc(100% + (var(--unit)));
    border: var(--unit) solid transparent;
    border-left-color: inherit;
  }
  #dashboard-03 li:nth-child(4n+3)::before {
    top: calc(var(--height)/2 + var(--unit)/2);
    left: -1rem;
  }
  #dashboard-03 li:nth-child(4n+3)::after {
    top: calc(var(--height)/2);
    left: -3rem;
    border: var(--unit) solid transparent;
    border-right-color: inherit;
  }
  /* 내가 추가한 소스 */
  #dashboard-03 {
    min-height: 1300px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  #dashboard-03 li {
    margin: 1rem;
    width: calc(33.33% - 4rem);
    float: left;
    min-height: 7rem;
  }
  #dashboard-03 li:nth-child(6n+4),
  #dashboard-03 li:nth-child(6n+5),
  #dashboard-03 li:nth-child(6n+6) {
    float: right;
  }
  #dashboard-03 li:nth-child(6n+1)::before,
  #dashboard-03 li:nth-child(6n+2)::before {
    top: calc(var(--height)/2 + var(--unit)/2);
    left: 100%;
  }
  #dashboard-03 li:nth-child(6n+1)::after,
  #dashboard-03 li:nth-child(6n+2)::after {
    top: 3.5rem;
    left: calc(100% + (var(--unit)));
    border: var(--unit) solid transparent;
    border-left-color: inherit;
  }
  #dashboard-03 li:nth-child(6n+4)::before,
  #dashboard-03 li:nth-child(6n+5)::before {
    top: calc(var(--height)/2 + var(--unit)/2);
    left: -1rem;
  }
  #dashboard-03 li:nth-child(6n+4)::after,
  #dashboard-03 li:nth-child(6n+5)::after {
    top: calc(var(--height)/2);
    left: -3rem;
    border: var(--unit) solid transparent;
    border-right-color: inherit;
  }
}

@media (min-width: 1200px) {
  #dashboard-03 ol {
    max-width: 1600px;
    margin: 0 auto;
  }
  #dashboard-03 li {
    margin: 1rem;
    width: calc(25% - 4rem);
    float: left;
    min-height: 7rem;
  }
  #dashboard-03 li:nth-child(8n+5),
  #dashboard-03 li:nth-child(8n+6),
  #dashboard-03 li:nth-child(8n+7),
  #dashboard-03 li:nth-child(8n+8) {
    float: right;
  }
  #dashboard-03 li:nth-child(8n+1)::before,
  #dashboard-03 li:nth-child(8n+2)::before,
  #dashboard-03 li:nth-child(8n+3)::before {
    top: calc(var(--height)/2 + var(--unit)/2);
    left: 100%;
  }
  #dashboard-03 li:nth-child(8n+1)::after,
  #dashboard-03 li:nth-child(8n+2)::after,
  #dashboard-03 li:nth-child(8n+3)::after {
    top: calc(var(--height)/2);
    left: calc(100% + (var(--unit)));
    border: var(--unit) solid transparent;
    border-left-color: inherit;
  }
  #dashboard-03 li:nth-child(8n+5)::before,
  #dashboard-03 li:nth-child(8n+6)::before,
  #dashboard-03 li:nth-child(8n+7)::before {
    top: calc(var(--height)/2 + var(--unit)/2);
    left: -1rem;
  }
  #dashboard-03 li:nth-child(8n+5)::after,
  #dashboard-03 li:nth-child(8n+6)::after,
  #dashboard-03 li:nth-child(8n+7)::after {
    top: calc(var(--height)/2);
    left: -3rem;
    border: var(--unit) solid transparent;
    border-right-color: inherit;
  }
}
/*# sourceMappingURL=style.css.map */